<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="{{ params.homepageUrl | default('/') }}" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype-text app-header__logotype-text">
            Digital Land
          </span>
        </span>
      </a>
    </div>
  </div>
</header>
