---
permalink: "{{ page.filePathStem }}.yml"
---
# Docs: https://www.netlifycms.org/docs/configuration-options/
backend:
  name: github
  branch: main
  repo: digital-land/content-site # cms repo
  base_url: https://dl-cms-oauth-service.herokuapp.com # OAuth server

# when true will assume needs netlify-cms-proxy-server running: npx netlify-cms-proxy-server
local_backend: {{ "true" if env == "local" else "false" }}

logo_url: /assets/images/dl-logo.svg
publish_mode: editorial_workflow
public_folder: /assets/images/uploads
media_folder: app/images/uploads
display_url: https://digital-land.netlify.app
site_url: https://digital-land.netlify.app

collections:
  - name: "guidance"
    label: "Guidance pages"
    label_singular: "Guidance page"
    folder: "app/content/guidance"
    create: true
    slug: {% raw %}"{{ slug }}"{% endraw %}
    preview_path: {% raw %}"guidance/{{ slug }}"{% endraw%}
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Hidden", name: "hidden", widget: "boolean", default: false, hint: "Hides this content from the site. Defaults to false." }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "text", hint: "A summary of the content in this page" }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "project"
    label: "Project pages"
    label_singular: "Project page"
    folder: "app/content/project"
    create: true
    slug: {% raw %}"{{ slug }}"{% endraw %}
    preview_path: {% raw %}"project/{{ slug }}"{% endraw%}
    fields:
      - { label: "Title", name: "title", widget: "string", hint: "The document title and primary heading"  }
      - { label: "Hidden", name: "hidden", widget: "boolean", default: false, hint: "Hides this content from the site. Defaults to false." }
      - { label: "Description", name: "description", widget: "text", hint: "A summary of the content in this page" }
      - { label: "Project start date", name: "startdate", widget: "datetime", hint: "When did this project start?" }
      - label: "Project status"
        name: "status"
        widget: "select"
        hint: "What is the status of this project?"
        options:
          - { label: "In progress", value: "In progress" }
          - { label: "Ongoing", value: "Ongoing" }
          - { label: "Backlog", value: "Backlog" }
          - { label: "Completed", value: "Completed" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Updates"
        name: "updates"
        widget: "list"
        collapsed: true
        minimize_collapsed: false
        summary: "{{ fields.title }}"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Date", name: "date", widget: "datetime" }
          - label: "Category"
            name: "type"
            widget: "select"
            options:
              - { label: "Decision", value: "decision" }
              - { label: "Update", value: "update" }
              - { label: "Learning", value: "learning" }
          - { label: "Text", name: "text", widget: "markdown", editor_components: [], buttons: ['bold', 'italic', 'link', 'numbered-list', 'bulleted-list'] }
      - label: "Related"
        name: "related"
        widget: "list"
        collapsed: false
        minimize_collapsed: false
        summary: "{{ fields.title }}"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - label: "Links"
            name: "items"
            widget: "list"
            collapsed: false
            minimize_collapsed: false
            summary: "{{ fields.text }}"
            fields:
              - { label: "Text", name: "text", widget: "string" }
              - { label: "URL", name: "url", widget: "string" }
