{% from "prose/macro.njk" import appProse %}
<ol id="{{ params.id | d('updates') }}" class="app-timeline{{ ' app-timeline--with-starter-label' if params.start }}">
  {% for item in params.items %}
    <li class="app-timeline__entry">
        <h3 class="govuk-heading-s app-timeline__entry-heading">{{ item.title }}</h3>
        <p class="app-timeline__entry-details govuk-body-s">
          <span><time datetime="{{ params.footer.date | date }}">{{ item.date | date("d LLLL y") }}</time></span>
          <span class="govuk-tag govuk-tag--{{ item.tagColour | d ('grey') }}">{{ item.type }}</span>
        </p>
        <div class="app-timeline__entry__content">
          {{ appProse({
            prose: item.text | markdown
          }) }}
        </div>
    </li>
  {% endfor %}
  <li class="app-timeline__start-label">
    <h4 class="govuk-heading-s">Started September 2020</h4>
  </li>
</ol>
